<div class="xl:w-9/12 xl:m-auto">
  <div class="flex justify-between items-center">
    <h1 class="text-center text-2xl mt-12 text-white mb-10">
      Articles published in @dev
    </h1>
    <button class="bg-blue-500 p-2 rounded text-white mt-2 text-sm">
      <%= link_to "Create article", "/article/create", class: "" %>
    </button>
  </div>
  <section>
    <div
      class="sm:grid md:grid-cols-2 lg:grid-cols-3 justify-center align-center gap-12"
    >
      <% @article.each do |article| %>
      <div class="shadow-2xl p-10 w-full relative mt-10 sm:m-auto">
        <%= link_to article.title, "/article/:id", class: "block article-title
        w-48 truncate m-auto" %>
        <div class="family-monospace mt-4">
          <p>Creation date: <%= article.created_at %></p>
          <p class="mt-2 pb-4">Update date: <%= article.updated_at %></p>
        </div>
        <button
          class="bg-blue-500 px-2.5 py-1 rounded text-white mt-2 text-sm absolute bottom-3"
        >
          <%= link_to "view", "/article/:id" %>
        </button>
      </div>
      <% end %>
    </div>
  </section>
</div>
